
<body>
  <hr>
  <%= render 'layouts/navbar' %>
  <%= yield %>
  <hr>
</body>
<h1>NOTES</h1>
<%= link_to "New Note", new_note_path%>
<% @note.each do |note| %>
  <h2><%= note.title %></h2>
  <%= link_to 'Show Note', note_path(note) %>
  <%= link_to 'Delete Note', note, method: :delete %>
  <%= link_to 'Edit Note', edit_note_path(note) %>
<% end %>
