<body>
  <hr>
  <%= render 'layouts/navbar' %>
  <%= yield %>
  <hr>
</body>

<h1>NEW NOTE</h1>

<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :note %>
  <%= f.text_area :note %>

  <%= f.submit %>
<% end %>
